In [20]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.tree import DecisionTreeClassifier

In [12]:
# Load data
df = pd.read_csv('Carseats.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   400 non-null    int64
 1   Sales        400 non-null    float64
 2   CompPrice    400 non-null    int64
 3   Income       400 non-null    int64
 4   Advertising  400 non-null    int64
 5   Population   400 non-null    int64
 6   Price        400 non-null    int64
 7   ShelveLoc    400 non-null    object
 8   Age          400 non-null    int64
 9   Education    400 non-null    int64
 10  Urban        400 non-null    object
 11  US           400 non-null    object
dtypes: float64(1), int64(8), object(3)
memory usage: 37.6+ KB

In [13]:
df.head()

,Unnamed: 0,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,1,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,2,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,3,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,4,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,5,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [15]:
# See if we have missing data
df.isnull().sum()

Unnamed: 0     0
Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [16]:
# Create a new boolean column called 'High' for those sales larger than 8
df['High'] = df['Sales'] > 8

In [18]:
df.head()

,Unnamed: 0,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,High
0,1,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes,True
1,2,11.22,111,48,16,260,83,Good,65,10,Yes,Yes,True
2,3,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes,True
3,4,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes,False
4,5,4.15,141,64,3,340,128,Bad,38,13,Yes,No,False

In [21]:
"""fit a classification tree in order to predict "High" using all variables but Sales"""

# Create a classification model
clf = DecisionTreeClassifier(random_state=0)