In [59]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import statsmodels.api as sm
from itertools import combinations

### Lab 1: Subset Selection Methods

In [2]:
df = pd.read_csv('Hitters.csv')
df.head()

,Unnamed: 0,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,...,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,-Andy Allanson,293,66,1,30,29,14,1,293,66,...,30,29,14,A,E,446,33,20,NaN,A
1,-Alan Ashby,315,81,7,24,38,39,14,3449,835,...,321,414,375,N,W,632,43,10,475.0,N
2,-Alvin Davis,479,130,18,66,72,76,3,1624,457,...,224,266,263,A,W,880,82,14,480.0,A
3,-Andre Dawson,496,141,20,65,78,37,11,5628,1575,...,828,838,354,N,E,200,11,3,500.0,N
4,-Andres Galarraga,321,87,10,39,42,30,2,396,101,...,48,46,33,N,E,805,40,4,91.5,N

In [3]:
df.shape

(322, 21)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  322 non-null    object
 1   AtBat       322 non-null    int64
 2   Hits        322 non-null    int64
 3   HmRun       322 non-null    int64
 4   Runs        322 non-null    int64
 5   RBI         322 non-null    int64
 6   Walks       322 non-null    int64
 7   Years       322 non-null    int64
 8   CAtBat      322 non-null    int64
 9   CHits       322 non-null    int64
 10  CHmRun      322 non-null    int64
 11  CRuns       322 non-null    int64
 12  CRBI        322 non-null    int64
 13  CWalks      322 non-null    int64
 14  League      322 non-null    object
 15  Division    322 non-null    object
 16  PutOuts     322 non-null    int64
 17  Assists     322 non-null    int64
 18  Errors      322 non-null    int64
 19  Salary      263 non-null    float64
 20  NewLeague   322 non-null    object
dtypes: float64(1), int64(16), object(4)
memory usage: 53.0+ KB

In [5]:
df = df.iloc[:, 1:]
df.isnull().sum()

AtBat         0
Hits          0
HmRun         0
Runs          0
RBI           0
Walks         0
Years         0
CAtBat        0
CHits         0
CHmRun        0
CRuns         0
CRBI          0
CWalks        0
League        0
Division      0
PutOuts       0
Assists       0
Errors        0
Salary       59
NewLeague     0
dtype: int64

In [6]:
df_hitter = df.dropna()

In [7]:
df_hitter.isnull().sum()

AtBat        0
Hits         0
HmRun        0
Runs         0
RBI          0
Walks        0
Years        0
CAtBat       0
CHits        0
CHmRun       0
CRuns        0
CRBI         0
CWalks       0
League       0
Division     0
PutOuts      0
Assists      0
Errors       0
Salary       0
NewLeague    0
dtype: int64

In [8]:
# Object columns:
object_col = df_hitter.dtypes == object
object_col[object_col == True].index

Index(['League', 'Division', 'NewLeague'], dtype='object')

In [9]:
df_hitter[object_col[object_col == True].index].head()

  League Division NewLeague
1      N        W         N
2      A        W         A
3      N        E         N
4      N        E         N
5      A        W         A

In [10]:
df_hitter[object_col[object_col == True].index].describe()

       League Division NewLeague
count     263      263       263
unique      2        2         2
top         A        W         A
freq      139      134       141

In [11]:
dummies = pd.get_dummies(df_hitter[object_col[object_col == True].index])
dummies.head()

   League_A  League_N  Division_E  Division_W  NewLeague_A  NewLeague_N
1         0         1           0           1            0            1
2         1         0           0           1            1            0
3         0         1           1           0            0            1
4         0         1           1           0            0            1
5         1         0           0           1            1            0

In [12]:
df_dummies = dummies.iloc[:, ::2] 
df_dummies.head()

   League_A  Division_E  NewLeague_A
1         0           0            0
2         1           0            1
3         0           1            0
4         0           1            0
5         1           0            1

In [13]:
df_hitter.shape

(263, 20)

In [14]:
df_hitter.drop(object_col[object_col == True].index, axis = 1, inplace = True)

C:\Users\u0125384\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [15]:
df_hitter.shape

(263, 17)

In [16]:
df = pd.concat([df_hitter, df_dummies], axis = 1)
df.shape

(263, 20)

In [17]:
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,Salary,League_A,Division_E,NewLeague_A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,632,43,10,475.0,0,0,0
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,880,82,14,480.0,1,0,1
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,200,11,3,500.0,0,1,0
4,321,87,10,39,42,30,2,396,101,12,48,46,33,805,40,4,91.5,0,1,0
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,282,421,25,750.0,1,0,1

In [33]:
# Get the features of the dataframe
features = df.columns.tolist()

# Remove the target from features
features.remove('Salary')
features

['AtBat',
 'Hits',
 'HmRun',
 'Runs',
 'RBI',
 'Walks',
 'Years',
 'CAtBat',
 'CHits',
 'CHmRun',
 'CRuns',
 'CRBI',
 'CWalks',
 'PutOuts',
 'Assists',
 'Errors',
 'League_A',
 'Division_E',
 'NewLeague_A']

In [48]:
# Have a look at an example of features combination 
comb = combinations(features, 2)
list(comb)

[('AtBat', 'Hits'),
 ('AtBat', 'HmRun'),
 ('AtBat', 'Runs'),
 ('AtBat', 'RBI'),
 ('AtBat', 'Walks'),
 ('AtBat', 'Years'),
 ('AtBat', 'CAtBat'),
 ('AtBat', 'CHits'),
 ('AtBat', 'CHmRun'),
 ('AtBat', 'CRuns'),
 ('AtBat', 'CRBI'),
 ('AtBat', 'CWalks'),
 ('AtBat', 'PutOuts'),
 ('AtBat', 'Assists'),
 ('AtBat', 'Errors'),
 ('AtBat', 'League_A'),
 ('AtBat', 'Division_E'),
 ('AtBat', 'NewLeague_A'),
 ('Hits', 'HmRun'),
 ('Hits', 'Runs'),
 ('Hits', 'RBI'),
 ('Hits', 'Walks'),
 ('Hits', 'Years'),
 ('Hits', 'CAtBat'),
 ('Hits', 'CHits'),
 ('Hits', 'CHmRun'),
 ('Hits', 'CRuns'),
 ('Hits', 'CRBI'),
 ('Hits', 'CWalks'),
 ('Hits', 'PutOuts'),
 ('Hits', 'Assists'),
 ('Hits', 'Errors'),
 ('Hits', 'League_A'),
 ('Hits', 'Division_E'),
 ('Hits', 'NewLeague_A'),
 ('HmRun', 'Runs'),
 ('HmRun', 'RBI'),
 ('HmRun', 'Walks'),
 ('HmRun', 'Years'),
 ('HmRun', 'CAtBat'),
 ('HmRun', 'CHits'),
 ('HmRun', 'CHmRun'),
 ('HmRun', 'CRuns'),
 ('HmRun', 'CRBI'),
 ('HmRun', 'CWalks'),
 ('HmRun', 'PutOuts'),
 ('HmRun', 'Assists'),
 ('HmRun', 'Errors'),
 ('HmRun', 'League_A'),
 ('HmRun', 'Division_E'),
 ('HmRun', 'NewLeague_A'),
 ('Runs', 'RBI'),
 ('Runs', 'Walks'),
 ('Runs', 'Years'),
 ('Runs', 'CAtBat'),
 ('Runs', 'CHits'),
 ('Runs', 'CHmRun'),
 ('Runs', 'CRuns'),
 ('Runs', 'CRBI'),
 ('Runs', 'CWalks'),
 ('Runs', 'PutOuts'),
 ('Runs', 'Assists'),
 ('Runs', 'Errors'),
 ('Runs', 'League_A'),
 ('Runs', 'Division_E'),
 ('Runs', 'NewLeague_A'),
 ('RBI', 'Walks'),
 ('RBI', 'Years'),
 ('RBI', 'CAtBat'),
 ('RBI', 'CHits'),
 ('RBI', 'CHmRun'),
 ('RBI', 'CRuns'),
 ('RBI', 'CRBI'),
 ('RBI', 'CWalks'),
 ('RBI', 'PutOuts'),
 ('RBI', 'Assists'),
 ('RBI', 'Errors'),
 ('RBI', 'League_A'),
 ('RBI', 'Division_E'),
 ('RBI', 'NewLeague_A'),
 ('Walks', 'Years'),
 ('Walks', 'CAtBat'),
 ('Walks', 'CHits'),
 ('Walks', 'CHmRun'),
 ('Walks', 'CRuns'),
 ('Walks', 'CRBI'),
 ('Walks', 'CWalks'),
 ('Walks', 'PutOuts'),
 ('Walks', 'Assists'),
 ('Walks', 'Errors'),
 ('Walks', 'League_A'),
 ('Walks', 'Division_E'),
 ('Walks', 'NewLeague_A'),
 ('Years', 'CAtBat'),
 ('Years', 'CHits'),
 ('Years', 'CHmRun'),
 ('Years', 'CRuns'),
 ('Years', 'CRBI'),
 ('Years', 'CWalks'),
 ('Years', 'PutOuts'),
 ('Years', 'Assists'),
 ('Years', 'Errors'),
 ('Years', 'League_A'),
 ('Years', 'Division_E'),
 ('Years', 'NewLeague_A'),
 ('CAtBat', 'CHits'),
 ('CAtBat', 'CHmRun'),
 ('CAtBat', 'CRuns'),
 ('CAtBat', 'CRBI'),
 ('CAtBat', 'CWalks'),
 ('CAtBat', 'PutOuts'),
 ('CAtBat', 'Assists'),
 ('CAtBat', 'Errors'),
 ('CAtBat', 'League_A'),
 ('CAtBat', 'Division_E'),
 ('CAtBat', 'NewLeague_A'),
 ('CHits', 'CHmRun'),
 ('CHits', 'CRuns'),
 ('CHits', 'CRBI'),
 ('CHits', 'CWalks'),
 ('CHits', 'PutOuts'),
 ('CHits', 'Assists'),
 ('CHits', 'Errors'),
 ('CHits', 'League_A'),
 ('CHits', 'Division_E'),
 ('CHits', 'NewLeague_A'),
 ('CHmRun', 'CRuns'),
 ('CHmRun', 'CRBI'),
 ('CHmRun', 'CWalks'),
 ('CHmRun', 'PutOuts'),
 ('CHmRun', 'Assists'),
 ('CHmRun', 'Errors'),
 ('CHmRun', 'League_A'),
 ('CHmRun', 'Division_E'),
 ('CHmRun', 'NewLeague_A'),
 ('CRuns', 'CRBI'),
 ('CRuns', 'CWalks'),
 ('CRuns', 'PutOuts'),
 ('CRuns', 'Assists'),
 ('CRuns', 'Errors'),
 ('CRuns', 'League_A'),
 ('CRuns', 'Division_E'),
 ('CRuns', 'NewLeague_A'),
 ('CRBI', 'CWalks'),
 ('CRBI', 'PutOuts'),
 ('CRBI', 'Assists'),
 ('CRBI', 'Errors'),
 ('CRBI', 'League_A'),
 ('CRBI', 'Division_E'),
 ('CRBI', 'NewLeague_A'),
 ('CWalks', 'PutOuts'),
 ('CWalks', 'Assists'),
 ('CWalks', 'Errors'),
 ('CWalks', 'League_A'),
 ('CWalks', 'Division_E'),
 ('CWalks', 'NewLeague_A'),
 ('PutOuts', 'Assists'),
 ('PutOuts', 'Errors'),
 ('PutOuts', 'League_A'),
 ('PutOuts', 'Division_E'),
 ('PutOuts', 'NewLeague_A'),
 ('Assists', 'Errors'),
 ('Assists', 'League_A'),
 ('Assists', 'Division_E'),
 ('Assists', 'NewLeague_A'),
 ('Errors', 'League_A'),
 ('Errors', 'Division_E'),
 ('Errors', 'NewLeague_A'),
 ('League_A', 'Division_E'),
 ('League_A', 'NewLeague_A'),
 ('Division_E', 'NewLeague_A')]

In [57]:
# Number of combinations for different k 
for k in range(1, len(features) + 1):
    comb = combinations(features, k)
    print(k, len(list(comb)))

1 19
2 171
3 969
4 3876
5 11628
6 27132
7 50388
8 75582
9 92378
10 92378
11 75582
12 50388
13 27132
14 11628
15 3876
16 969
17 171
18 19
19 1

In [98]:
# Perform linear regression for a given set of features
def regression_model(data, features):
    x = sm.add_constant(data[features])
    y = data['Salary']
    model = sm.OLS(y,x)
    result = model.fit()
    RSS = result.ssr
    return result, RSS

In [99]:
def best_k_model(data, features, k):
    
    model_results = []
    RSS_results = []
    for comb in combinations(features, k):
        model, RSS = regression_model(data, list(comb))
        model_results.append(model)
        RSS_results.append(RSS)
        
    argmin = np.argmin(RSS_results)
    
    return model_results[argmin]

In [104]:
best_models = []
# As it takes a long time to find the best k model for all 19 different k, lets just do it for a limitted numbers of k
for k in [1, 2, 3, 4, 16, 17, 18, 19]:
    print(k)
    best_models.append(best_k_model(df, features, k))

1
2
3
4
16
17
18
19

In [107]:
best_models[2].summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.451
Model:                            OLS   Adj. R-squared:                  0.445
Method:                 Least Squares   F-statistic:                     71.05
Date:                Mon, 14 Sep 2020   Prob (F-statistic):           1.48e-33
Time:                        23:16:23   Log-Likelihood:                -1901.1
No. Observations:                 263   AIC:                             3810.
Df Residuals:                     259   BIC:                             3825.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -71.4592     55.203     -1.294      0.197    -180.163      37.244
Hits           2.8038      0.492      5.695      0.000       1.834       3.773
CRBI           0.6825      0.066     10.366      0.000       0.553       0.812
PutOuts        0.2736      0.078      3.517      0.001       0.120       0.427
==============================================================================
Omnibus:                      114.741   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              754.018
Skew:                           1.612   Prob(JB):                    1.85e-164
Kurtosis:                      10.643   Cond. No.                     1.47e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.47e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""